<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>Szczegóły zgłoszenia</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/57474b4673.js" crossorigin="anonymous"></script>
</head>
<body>

<p th:if="${successMessage}" th:text="${successMessage}">Zgłoszenie zostało zamknięte</p>
<p th:if="${errorMessage}" th:text="${errorMessage}">Wystąpił błąd podczas zamykania zgłoszenia</p>

<div>
    <div>
        <div>
            <h5>
                Status: <span th:styleappend="'color: ' + ${statusColor}" th:text="${report.getStatus().description}">W trakcie</span>
            </h5>
        </div>
        <form sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:action="@{'/reports/delete'}" method="post">
            <input type="hidden" name="reportId" th:value="${reportId}" />
            <button type="submit">Usuń</button>
        </form>
        <form th:if="${report.getStatus().description != 'Zakończone'}" sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_EMPLOYEE')"
              th:action="@{'/reports/close'}" method="post">
            <input type="hidden" name="reportId" th:value="${reportId}" />
            <button type="submit">Zamknij zgłoszenie</button>
        </form>

    </div>
    <div>

        <div>
            <div>Tytuł zgłoszenia:</div>
            <div th:text="${report.title}">Tytuł zgłoszeniaTytuł zgłoszeniaTytuł zgłoszenia</div>
        </div>
        <div>
            <div>Opis:</div>
            <div th:text="${report.description}">Opis zgloszenia opis zgloszenia opis zgloszenia opis zgloszenia
                opis zgloszenia opis zgloszenia opis zgloszenia opis zgloszenia opis zgloszenia opis zgloszenia</div>
        </div>
        <div>
            <div>Kategoria:</div>
            <div th:text="${report.categoryName ?: 'Brak'}">Problemy ogólne</div>
        </div>
        <div>
            <div>Przydzielony pracownik:</div>
            <div>
                <span th:text="${report.assignedEmployee ?: 'Brak'}">employee@test.pl</span>
                <form th:unless="${report.getStatus().description == 'Zakończone'}" sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:action="@{/reports/assign}" method="post">
                    <input type="hidden" name="reportId" th:value="${reportId}">
                    <select name="employeeId">
                        <option value="" disabled selected>Wybierz pracownika</option>
                        <th:block th:each="employee : ${employees}">
                            <option th:value="${employee.id}"
                                    th:selected="${report.assignedEmployeeId == employee.id}"
                                    th:text="${employee.email}">
                            </option>
                        </th:block>
                    </select>
                    <button type="submit">Zapisz</button>
                </form>
            </div>

        </div>
        <div sec:authorize="!hasRole('ROLE_USER')">
            <div>Zgłaszający:</div>
            <div th:text="${report.reportingUser}">user@ok.pl</div>
        </div>
        <div sec:authorize="!hasRole('ROLE_USER')">
            <div>Firma:</div>
            <div th:text="${report.reportingUserCompanyName}">New Techologies SA</div>
        </div>

    </div>
    <div th:unless="${report.getStatus().description == 'Zakończone'}" sec:authorize="!hasRole('ROLE_USER')">
        <div th:if="${report.getStatus().description == 'Oczekujące'}">
            <strong>Czas na odpowiedź:</strong>
            <div style="height: 20px">
                <div th:style="|background-color: ${timeToRespondColor}; width: ${timeToRespondProgress};|"></div>
                <span th:text="|${report.getRemainingTime(true).days} dni, ${report.getRemainingTime(true).hours} godz. ${report.getRemainingTime(true).minutes} min.|"
                      style="z-index: 2;">5 Dni. 10 Godz. 50 Min.</span>
            </div>
        </div>
        <div>
            <strong>Pozostały czas na rozwiązanie:</strong>
            <div style="height: 20px">
                <div th:style="|background-color: ${timeToResolveColor}; width: ${timeToResolveProgress};|"></div>
                <span th:text="|${report.getRemainingTime(false).days} dni, ${report.getRemainingTime(false).hours} godz. ${report.getRemainingTime(false).minutes} min.|"
                      style="z-index: 2;">5 Dni. 10 Godz. 50 Min.</span>
            </div>
        </div>
    </div>
</div>

    <h2>
        Załączniki
    </h2>

<div>
    <div th:each="attachment : ${attachments}">
        <div>
                <i th:class="|fa-solid fa-4x ${attachment.fileIconClass}|"></i>
            <div>
                <div>
                    <h6 th:text="${attachment.fileName}">testowy.pdf</h6>
                    <p><small th:text="${attachment.fileSize}">5 MB</small></p>
                    <p th:text="|Przesłał: ${attachment.addingUser}|">jankowalski@ok.pl</p>
                    <p th:text="${#temporals.format(attachment.timestamp, 'HH:mm, dd.MM.yyyy')}"> 14:30, 28.03.2025</p>
                </div>
                <div>
                    <a th:href="${attachment.filePath}" target="_blank">
                        <i class="fa-solid fa-2xl fa-share-from-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<form th:action="@{/reports/attachment/upload}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="reportId" th:value="${reportId}" />

    <div>
        <label for="attachmentFiles">Wybierz załączniki:</label>
        <input type="file" id="attachmentFiles" name="files" multiple
               th:disabled="${report.status.description == 'Zakończone'}" />
    </div>

    <button type="submit"
            th:disabled="${report.status.description == 'Zakończone'}">
        Dodaj załączniki
    </button>
</form>


</body>
</html>